﻿<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <title>@ViewData["title"]</title>
</head>
<body>
    <!--Deals with the undo portion of the website-->
    <div id="palette" class="col-xs-12" style="height: 100vh; background-color: #7F7F7F">        
        <div class="jumbotron" style="background-color: transparent; height: 20vh">
            <h1 id="colorname" style="text-align:center;font-size:10vh">Colour Palette</h1>
        </div>
        <div class="container col-xs-12" style="border:5px black solid;background-color:rosybrown">
            <div class="col-xs-12" style="font-size:x-large;font-weight:800">
                <p style="color: red">Red</p>
                <input id="redval" type="range" value="127" min="0" max="255" onchange="changebackground()" />
                <p style="color: green">Green</p>
                <input id="greenval" type="range" value="127" min="0" max="255" onchange="changebackground()" />
                <p style="color: blue">Blue</p>
                <input id="blueval" type="range" value="127" min="0" max="255" onchange="changebackground()" />
            </div>
        </div>
        <div class="col-xs-1">
            <button style="background-color: darkorange; color: white; letter-spacing: 1px; font-weight: 100" onclick="reset()">Reset</button>
        </div>
    </div>
    <script>
        function changebackground() {
            var red = parseInt(document.getElementById('redval').value);
            var green = parseInt(document.getElementById('greenval').value);
            var blue = parseInt(document.getElementById('blueval').value);

            var redhex = red < 16 ? "0" + red.toString(16) : red.toString(16);
            var greenhex = green < 16 ? "0" + green.toString(16) : green.toString(16);
            var bluehex = blue < 16 ? "0" + blue.toString(16) : blue.toString(16);

            var hexcode = "#" + redhex + greenhex + bluehex;

            document.getElementById('palette').style.backgroundColor = hexcode;
            document.getElementById('colorname').innerHTML = hexcode;
        }

        function reset() {
            document.getElementById('colorname').innerHTML = "Colour Palette";
            document.getElementById('palette').style.backgroundColor = "#7f7f7f";
            document.getElementById('redval').value = 127;
            document.getElementById('greenval').value = 127;
            document.getElementById('blueval').value = 127;
        }
    </script> 
    @RenderBody()    
</body>
</html>
